extends layout

block content
  form(action="/newuser", method="post", class="form-signin")
    h1(class="h3 mb-3 font-weight-normal")="Zakładanie nowego konta:"
    label(for="inputName", class="sr-only")="Nazwa użytkownika:" 
    input(type="text" name="username", id="inputName", class="form-control", placeholder="Nazwa użytkownika", required, autofocus)
    label(for="inputEmail", class="sr-only")="Nazwa użytkownika:" 
    input(type="email" name="email", id="inputEmail", class="form-control", placeholder="Adres e-mail", required)
    label(for="inputPassword", class="sr-only")="Hasło"
    input(type="password", name="password", id="inputPassword", class="form-control", placeholder="Hasło", required)
    label(for="inputPassword2", class="sr-only")="Hasło Ponownie"
    input(type="password", name="password2", id="inputPassword2", class="form-control", placeholder="Hasło ponownie", required)
    
    input(type="submit", value="Zaloguj", class="btn btn-lg btn-primary btn-block")
    <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
